[Unit]
Description=Persist NetworkManager state
DefaultDependencies=no
Before=local-fs.target
ConditionPathExists=/dev/disk/by-partlabel/persist
ConditionPathIsMountPoint=/var/lib/persist
Requires=persist-prepare-dirs.service
After=persist-prepare-dirs.service

[Mount]
What=/var/lib/persist/rokkitpokkit/NetworkManager/state
Where=/var/lib/NetworkManager
Type=none
Options=bind
